<header class="topbar">
<!--   <a class="button left secondary second-clear return_home" href="/">Home</a>

 --><!-- 
  <a class="button right alert" data-toggle="slideout" data-toggle-text="More Info" href="#info">Hide Info
  </a> -->

  <h1>Your Trip Has Started</h1>
</header>

<div style="text-align: center;">
  <h3>
    Your Trip Has Started. <br><br>
    GPS Location Recording
    <br><br>
    Turn on your GoPro to Record Time Elapse Photos
    <br><br>
    <h4 style="color: green;">Current Location: <span id="loc"></span></h4>
    <br><br>
  </h3>

  <img width="300" src="/gopro.jpg">
  <img width="200" src="/gps.jpg">
<section class="controls">
  <input type="file" accept="image/*;capture=camera">

  <form action="/photo_geo_tagger/save_trip_data" method="post" class="newform">
    <input type="hidden" name="trip_id" value="<%= params[:id] %>">
    <input class="button" type="submit" value="End Trip">
  </form>
</section>

</div>

<script>
    navigator.geolocation.getCurrentPosition(function (position) {
        $('#loc').html(position.coords.latitude + ', ' + position.coords.longitude);
    });
</script>