<% content_for :body_class, "ioslike" %>

<script>(function (a, b, c) {
    if (c in b && b[c]) {
        var d, e = a.location, f = /^(a|html)$/i;
        a.addEventListener("click", function (a) {
            d = a.target;
            while (!f.test(d.nodeName))d = d.parentNode;
            "href"in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href)
        }, !1)
    }
})(document, window.navigator, "standalone")</script>

<!--link rel="apple-touch-icon" href="http://a4.mzstatic.com/us/r30/Purple6/v4/97/96/75/97967507-edd3-110f-9e06-0b6f50653c49/mzl.mvoejolu.175x175-75.jpg"-->
<link rel="apple-touch-icon" href="goriders.png">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">


<header class="topbar">
  <a class="button right success" href="/photo_geo_tagger/start_trip">New Trip</a>
  <h1>History</h1>

</header>


<section class="content">

  <table class="listings">
    <thead>
    <tr>
      <th width="200">Trip</th>
      <th>From</th>
      <th>To</th>
    </tr>
    </thead>
    <tbody>

    <% @trips.each do |trip_data| %>

        <tr>
          <th class="button">
            <a href="photo_geo_tagger/show_trip_map?trip_id=<%= trip_data['id'] %>" class="button">
              <%= trip_data['name'] %>
            </a>
          </th>
          <td class="start"><%= trip_data['from'] %></td>
          <td><%= trip_data['to'] %></td>

        </tr>

    <% end %>

    </tbody>
  </table>


</section>

