<div style="text-align: center;">
  <br><br>
  Trip Data Saved<br><br>
  <br>

  Connect GoPro to Begin Photo Import<br><br>

  <form action="/photo_geo_tagger/show_trip_map" method="get">
    <input type="hidden" name="trip_id" value="<%= params[:trip_id] %>">
    <input type="submit" value="Import GoPro Photos and View Trip Details">
  </form>

</div>