<div style="text-align: center;">
  <h4>
    <br>
    Trip Data Saved<br><br>

    Connect GoPro to Begin Photo Import<br><br>
    <br>

    <div id="progress" style="display: none;"> Importing...
    </div>
    <br>

  </h4>

  <form id="form" action="/photo_geo_tagger/show_trip_map" method="get">
    <input type="hidden" name="trip_id" value="<%= params[:trip_id] %>">
    <input class="button" type="submit" value="Import GoPro Photos and View Trip Details">
  </form>

</div>

<script>
    window.onload = function () {
        $('#form').submit(function (e) {
            $('#progress').show();
            sleep(3000);
        });
    };
</script>