@import 'vars'

body

.topbar, .content
  background-color: #FFF

.topbar, .bottombar
  width: 100%
  padding: 10px

.topbar
  border-bottom: 1px solid $ios_border_minor

  h1
    margin: -10px 0 0 0

  .button
    margin: 0
    border-radius: 0 !important

    &.second-clear
      background: none

    &.right
      float: right

  h1
    text-align: center

.bottombar
  border-top: 1px solid $ios_border_minor
