@import 'vars'

body
  // background-color: #F5F5F5

.topbar, .content
  background-color: #FFF

.topbar
  width: 100%
  border-bottom: 1px solid $ios_border_minor

  h1
    margin: 0

  .button
    margin: .3em

    &.second-clear
      background: none

    &.right
      float: right

  h1
    text-align: center