.newform
  table
    width: 100%

    input, select
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

    th
      text-align: left
      font-weight: 500
      font-size: 1.1em
      color: #0078a0

    td
      font-size: 1.35em

    input, select, select:after
      font-size: 1em